.base-card {
  background: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat !important;
  box-shadow: 4px 8px 28px rgba(39, 44, 49, 0.1),
    1px 3px 8px rgba(39, 44, 49, 0.075);
  border-radius: 6px;
}
