$border-color: #97dffd;

@mixin fixed-title-style {
  border-color: $border-color;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: $border-color;
  margin: 5px 0 15px 2px;
  font-size: 14px;
  position: relative;
  left: -32px;
  border-radius: 0 4px 4px 0;
  padding: 7px 11.2px 7px 32px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;

  // 文本阴影
  text-shadow: 0 1px 0 #fff, 0 0 2px rgba(0, 0, 0, 0.2);

  &::after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border-top: 0 solid transparent;
    border-right-width: 1em;
    border-right-color: #48456d;
    border-right-style: solid;
    border-bottom: 1em solid transparent;
    border-left: 0 solid transparent;
    width: 0;
    height: 0;
  }
}
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-bg {
  & > img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.contact-name {
  color: #444444;
  font-weight: bold;
}
.contact-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  .contact-link {
    padding: 10px;
    border-radius: 50%;
    background-color: #44444430;
  }
}

// 点赞数据
.likes {
  padding: 20px;
  user-select: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .likes-title {
    // ...
    font-size: 1.5rem;
    color: #e2264d;
  }
  .likes-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .likes-heart {
      // ...
      width: 2rem;
      height: 2rem;
    }
    & .likes-like-num {
      // ...
      color: #e2264d;
      font-size: 2rem;
    }
  }
}

// 评论展示
.comments {
}

.comments-title {
  @include fixed-title-style;
}

.comments-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.comments-item {
  display: flex;
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #b8b7b7;
  &:last-of-type {
    border-bottom: none;
  }
}

.comments-item-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.comments-item-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comments-item-content {
  flex-grow: 1;
}

.comments-item-content-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444444;
}

.comments-item-content-text {
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}

// 热度样式
.hot {
}
.hot-title {
  @include fixed-title-style;
}

.hot-list {
  margin-top: 10px;
}

.hot-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.hot-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3498db;
}

.hot-item-title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 8px;
}

.hot-item-views {
  font-size: 14px;
  color: #999;
  margin-left: 8px;
  display: flex;
  align-items: center;
}
