@mixin message-card-title {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

/* 设置留言板包裹元素的样式 */
.message-container {
  display: flex;
  gap: 2rem;
}

/* 设置左侧留言板块的样式 */
.message-content {
  flex: 6.5;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* 设置右侧联系板块的样式 */
.message-contact {
  flex: 3.5;
}

/* 设置个人留言样式 */
.message-my-message {
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    @include message-card-title;
  }

  .message-my-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .message-my-item {
      font-size: 1rem;
    }
  }
}

/* 设置留言列表样式 */
.message-content-card {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

/* 设置留言板各个元素的响应式样式 */
@media (max-width: 768px) {
  .message-container {
    flex-direction: column;

    .message-content,
    .message-contact {
      width: 100%;
    }
  }
}
