// Path: src\views\Home\Home.module.scss
.blog-card {
  display: flex;
  gap: 2rem;
}
.blog-card-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 7;
}
.blog-card-contact {
  flex: 3;
}
