// Path: src\views\Home\Home.module.scss
.blog-card {
  display: flex;
  gap: 2rem;
}
.blog-card-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 6.5;
}
.blog-card-contact {
  flex: 3.5;
}

// 缩小到768px以下时，设置博客列表的样式
@media (max-width: 768px) {
  .blog-card {
    flex-direction: column;
  }
  .blog-card-list,
  .blog-card-contact {
    width: 100%;
  }
}
