body {
  background-color: #efefef;
}
.w-md-editor-text-pre code,
.w-md-editor-text-pre .code-line,
.w-md-editor-text-input {
  font-size: 21px !important;
  line-height: 24px !important;
}

.w-md-editor-preview {
  font-size: 21px !important;
  line-height: 24px !important;
}
@media screen and (max-width: 1024px) {
  .wmde-markdown pre {
    max-width: 450px !important;
  }
}
