.archive-container {
  display: flex;
  gap: 2rem;
  user-select: none;
}
.archive-content-container {
  flex: 6.5;
}
.archive-contact {
  flex: 3.5;
}
.archive-content {
  width: 100%;
  h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
}

.archive-content-class {
  h3 {
    font-weight: bold;
    color: #000;
    text-align: left;
    font-size: 1.5rem;
  }
}
.archive-class-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 1rem 0 1rem 1rem;
}
.archive-class-item {
  cursor: pointer;
  user-select: none;
  display: flex;
  gap: 4px;
  .archive-class-item-type {
    color: #ab3300;
  }
  .archive-class-item-total {
    color: #aeaeae;
  }
}
// 定义归档列表的样式
.archive-content-list {
  // 设置列表的宽度和边距
  // 设置列表的字体和颜色
  font-family: Arial, sans-serif;
}

// 定义归档内容项的样式
.archive-content-item {
  // 设置内容项的内边距
  // 设置内容项的标题的样式
  h3 {
    // 设置标题的字号和颜色
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #000;
    // 设置标题的下边距
    margin-bottom: 10px;
  }
}

// 定义具体年份的博客列表的样式
.archive-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 1.5rem;
  user-select: none;
}

// 定义具体年份的博客项的样式
.archive-item {
  // 设置博客项的高度和行高
  // 设置博客项的前面有一个点状的样式
  position: relative;

  &:before {
    // 设置点状样式的内容和位置
    content: '';
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    // 设置点状样式的形状和颜色
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #97dffd;
  }
  // 选中出了第一个item以外的所有item
  &:not(:first-child) {
    // 设置一个往上连接的样式效果
    &:after {
      height: 20px;
      position: absolute;
      background-color: #97dffd;
      border-radius: 10px;
      content: '';
      left: -14px;
      width: 2px;
      top: -14px;
    }
  }
}

// 定义博客项中的日期和标题的样式
.archive-item-date {
  // 设置日期和标题的字号和颜色
  font-size: 16px;
  color: #2fa9fa;
}

// 定义博客项中的标题的样式
.archive-item-title {
  // 设置标题的左边距和下划线
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    color: #2fa9fa;
  }
}

// 缩小到768px以下时，设置博客列表的样式
@media (max-width: 768px) {
  .archive-container {
    flex-direction: column;
  }
  .archive-content-container,
  .archive-contact {
    width: 100%;
  }
}
